@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Smokum&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans', sans-serif;
}
.logo {
    float: left;
}
header>div {
    padding: 10px;
    font-family: 'Smokum', cursive;
    background-color: #eee;
}
.heading {
    font-size: 4em;
    color: black;
    padding: 10px;
}
.main img {
    float: left;
    padding: 10px;
    /* is this required */
    max-width: 96%;
    border: 10px solid white;
    /* this is done to center the image */
    margin: 2%;

}
.main article p::first-letter {
    font-size: 2em;
    color: red;
}
.main article {
    padding: 10px;
    font-size: 1.2em;
    border-bottom: 1px solid black;
    /* this resolved the image overlapping with borders */
    overflow: hidden;
}
.sub-heading {
    font-size: 2.5em;
    color: #333333;
    padding: 0 5px;
    margin-bottom: 30px;
}
.heading, .sub-heading {
    text-align: center;
}
header nav {
    background-color: rosybrown;
    margin: 0;
    clear: both;
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    float: left;
}
header nav ul li {
    display: inline-block;
    background-color: aquamarine;
}
header nav a {
    padding: 0 10px;
    font-size: 1em;
    /* vertically center text */
    line-height: 40px;
    text-decoration: none;
    background-color: #222222;
    color: white;
    /* makes item cover entire background */
    display: block;
}
header nav a:hover {
    background-color: red;
    color: white;
}
body {
    background-color: aqua;
}
.menu {
    display: none;
}
.main {
    clear: both;
    background-color: bisque;
}

@media all and (max-width: 740px) {
    header nav ul li {
        display: block;
        text-align: center;
    }
    header nav ul {
        width: 100%;
    }
    .menu {
        background-color: black;
        color: white;
         display: block;
         text-align: center;
        /* is it required? */
        /* width:100%;  */
    }
    .sub-heading {
        margin-bottom: 0;
    }
    .heading {
        padding: 0;
    }
    .main img {
        width: 100%;
    }
}