header nav {
    background-color: rosybrown;
    margin: 0;
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    float: left;
}
header nav ul li {
    display: inline-block;
    background-color: aquamarine;
}
header nav a {
    padding: 0 10px;
    font-size: 1em;
    /* vertically center text */
    line-height: 40px;
    text-decoration: none;
}
body {
    background-color: aqua;
}
.main {
    clear: both;
    background-color: bisque;
}